html,
body {
  background-image: url("assets/bgq.png");
  background-repeat: repeat;
  background-attachment: fixed;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bef2fa",endColorstr="#80e2d6",GradientType=1);
}

@font-face {
  font-family: LondrinaSolidBold;
  src: url(assets/LondrinaSolid-Bold.ttf);
}

@font-face {
  font-family: LondrinaSolidRegular;
  src: url(assets/LondrinaSolid-Regular.ttf);
}

p {
  font-family: LondrinaSolidRegular;
  color: #fff;
  background-color: rgba(12, 11, 11, 0.7); /* Yarı saydam beyaz */
  padding: 10px;
  border-radius: 15px; /* Köşeleri yuvarlatma */
  display: inline-block;
}

.h2 {
  font-family: LondrinaSolidBold;
  color: #fff;
  background-color: rgba(12, 11, 11, 0.7); /* Yarı saydam beyaz */
  padding: 10px;
  border-radius: 15px; /* Köşeleri yuvarlatma */
  display: inline-block;
}
